/*Menu*/
.suckertreemenu ul{ 
	background-color: black;
	margin: 0; 
	position: fixed;
	padding-left: 100px;
	padding-right: 100px; 
	list-style-type: none; 
	z-index:100;
}

.suckertreemenu ul li{ 
	position: relative; 
	display: inline; 
	float: left; 
	border-right:1px solid #333;
}
.suckertreemenu ul li a{ 
	display: block; 
	text-decoration: none; 
	color:#fff; 
	padding:10px 20px 10px 20px; 
	text-transform:uppercase;
}
.suckertreemenu ul li ul{ 
	left: 0; 
	position: absolute; 
	display: block; 
	visibility: hidden;
}
.suckertreemenu ul li ul li{ 
	display: list-item; 
	float: none;
}
.suckertreemenu ul li ul li ul{ top:0; border-style:none; margin:0px;}

.suckertreemenu ul li ul li a{ display: block; width: 170px; color: text-decoration: none; padding: 10px 15px; background-color:#000; border-bottom:1px solid #333; text-align:left; }
.suckertreemenu ul li a:hover{ color: #FFFF00;}
* html p#iepara{}
	
* html .suckertreemenu ul li { float: left; height: 1%; }
* html .suckertreemenu ul li a { height: 1%; }
