/* Font-Face */
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


.menu .drop,
.menu_top .drop {
    min-width: 275px;
    z-index: 1000
}

.menu ul,
.menu_top ul,
.tt{
    text-transform: uppercase
}

#news-list-detail h1 a,
.inews2 h4 a:hover,
.menu ul li a:hover,
.menu ul li:hover a,
.menu_top ul li a:hover,
.menu_top ul li:hover a,
.panel-group .panel a:focus,
.panel-group .panel a:hover,
.widgetetitle,
footer a,
header a:hover {
    text-decoration: none
}

.ilist,
.menu ul,
.menu_top ul,
.nlist,
footer ul {
    list-style: none
}

@media (min-width:768px) {
    .container {
        width: 1000px
    }
	 .container2 {
        width: 1000px
    }
}

@media (min-width:992px) {
    .container {
        width: 1000px
    }
	 .container2 {
        width: 1000px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1000px
    }
	 .container2 {
        width: 1000px
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    background: #fff;
	box-shadow:0 5px 15px rgba(0,0,0,.12);
}
.container2 {
    margin:0px auto;
}

.kotak,
.kotak2,
.kotak3 {
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    padding: 7px;
	
}

.row {
    margin-right: -10px;
    margin-left: -10px
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding-right: 10px;
    padding-left: 10px
}

.koran {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px
}

.adkaki {
    position: fixed
}

.adka,
.adki {
    position: absolute;
    display: block;
    width: 140px;
    right: -1120px
}

.adki {
    left: -180px
}
/*
body {
  -webkit-font-smoothing: subpixel-antialiased;
    font: 400 13px/140% 'Roboto', sans-serif;
   background: #0052a6;
    color: #2c3e50
}
*/

.kotak {
    border-bottom: 1px solid #e9e9e9;
}

.kotak2 {
    border-bottom: 1px solid #e9e9e9;
    height: 330px
}

.kotak3 {
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9
}

.pbar-search-box,
.pbar-search-box.active {
    border: 1px solid #fff
}

.kotakkanan {
    width: 340px;
    float: right;
    color: #fff
}

.pbar-search-box {
    background: #fff;
    float: right;
    overflow: hidden;
    width: 190px;
    margin-top: 5px;
    margin-right: 10px;
    padding: 4px 7px 5px 10px;
	border-radius: 7px;
}

.pbar-search-input-text {
    display: inline-block!important;
    width: 80%!important
}

.pbar-search-button {
    background: 0 0!important;
    float: right;
    line-height: 0;
    padding-top: 0
}

.pbar-search-button>img {
    display: inline-block
}

.pbar-search-button,
.pbar-search-input-text {
    background-color: transparent!important;
    border: none!important;
    box-shadow: none!important;
    color: #333!important;
    padding: 0!important;
    vertical-align: middle!important;
    margin: 0!important;
    font-size: 12px
}

.berita {
    border-top: 1px solid #e9e9e9;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px
}
.berita2 {
	margin-top:10px;
    border-bottom: 1px solid #e9e9e9;
    width: 100%;
}
.widgetetitle {
    margin: 20px 0 0;
    height: 36px;
    font-size: 20px;
    color: #fff;
    padding: 0;
	font-style: italic;
	font-family: 'Cormorant Garamond', serif;
	text-transform:capitalize;
	font-weight:bold;
	
}

.c1 {
    background: #1abc9c
}

.c2 {
    background: #2ecc71
}

.c3 {
    background: #3498db
}

.c4 {
    background: #9b59b6
}

.c5 {
    background: #f1c40f
}

.c6 {
    background: #e67e22
}

.c7 {
    background: #e74c3c
}

.c8 {
    background: #16a085
}

.c9 {
    background: #27ae60
}

.c10 {
    background: #34495e
}

.c11 {
    background: #8e44ad
}

.c12 {
    background: #f39c12
}

.c13 {
    background: #d35400
}

.c14 {
    background: #c0392b
}
.c15 {
    background: #1abc9c
}
.c16 {
    background: #2ecc71
}

.c17 {
    background: #3498db
}
.title {
    padding-left: 15px;
    padding-top: 6px
}

.garis {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 5px;
    padding-top: 5px
}

.col2 {
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-count: 2;
    -webkit-column-gap: 30px;
    column-count: 2;
    column-gap: 30px
}

header {
    height: 200px;
    background: url(../img/header-new-2016-2.jpg) center no-repeat;
    margin: 0 10px;
	}


.menu_top ul li .on,
.menu_top ul li .on:hover,
.menu_top ul li a:hover,
.menu_top ul li:hover a {
    background: #0080bd;
}
.menu_top{
 background:#111;
 -webkit-box-shadow:inset 0 0 1px rgba(255, 255, 255, 0.1), 0 0 3px rgba(0, 0, 0, 0.8);
 box-shadow:inset 0 0 1px rgba(255, 255, 255, 0.1), 0 0 3px rgba(0,0,0,0.8);
position:fixed;text-transform:uppercase;top:0;width:100%;z-index:9999
}
header .grad {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, transparent 100%);
    height: 150px
}


.menu_top {
    height: 40px;
	

}
header .logo {
    float: left;
    margin: 20px 20px 0
}

header a,
header a:hover {
    color: #fff
}

header h1,
header h2 {
    margin: 0;
    text-shadow: 1px 1px 1px #333
}

header h2 {
    font-size: 18px;
    padding: 5px 0 0
}

header h1 {
    font-size: 26px;
    font-weight: 700;
    padding: 45px 0 0
}

.menu_top ul {
     font: 13px 'Roboto', sans-serif;
    margin: 0 5px;
    padding: 0
}

.menu_top ul li {
    display: block;
    float: left;
    position: relative
}

.menu_top ul li a {
     color: #fff;
    display: inline-block;
    line-height: 40px;
	font-weight:bold;
    padding: 0 15px
}

.menu_top ul li .drop {
    display: none
}

.menu_top ul li:hover ul {
    display: block
}

.menu_top .drop {
    display: block;
    margin-left: 0;
    position: absolute;
    font-size: 13px
}

.menu_top .drop li {
    border: 0;
    display: block;
    float: none;
    padding: 0
}

.menu_top .drop li a {
    color: #fff;
    display: block;
}

.menu_top .drop li a:hover {
    background-color: #ffae52;
}

.breadcrumb {
    margin: -20px -20px 0;
    border-radius: 0;
    background: #ecf0f1
}

.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border: 0;
    margin: 0 0 10px
}

.panel-group .panel a {
    display: block;
    outline: 0
}

.panel-group .panel .panel-heading {
    padding: 0;
    box-shadow: none
}

.panel-group .panel .panel-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
    padding: 0 10px;
    color: #fff;
    background: #2ecc71
}

.panel-group .panel .pt2 {
    background: #3498db
}

.panel-group .panel .pt3 {
    background: #f1c40f
}

.panel-group .panel .pt4 {
    background: #e67e22
}

.panel-group .panel .pt5 {
    background: #e74c3c
}

.panel-group .panel .pt6 {
    background: #9b59b6
}

.panel-group .panel .panel-body {
    border-top: none;
    padding: 0
}

.panel-group .panel .panel-body ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px
}

.panel-group .panel .panel-body ul li {
    border-bottom: 1px solid #eee
}

.panel-group .panel .panel-body ul li:last-child {
    border-bottom: 0
}

.panel-group .panel .panel-body ul li a {
    padding: 7px 10px;
    display: block
}

.panel-group .panel .panel-body ul li a:hover {
    background-color: #ecf0f1
}

.carousel {
    margin-top: 20px
}

.carousel .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 10px 15px;
    background: rgba(0, 0, 0, .5);
    text-align: left
}

.ce,
.gabung,
.modal-dialog .modal-body,
footer .foot p {
    text-align: center
}

.carousel .carousel-caption h3 {
    margin: 0 0 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 140%
}

.inews h4,
.nlist h4,
.nlist h5 {
    line-height: 130%;
    font-weight: 700
}

.carousel .carousel-caption a {
    color: #f1c40f
}

.carousel .carousel-indicators {
    bottom: -5px
}

.carousel .carousel-indicators li {
    width: 7px;
    height: 7px
}

.carousel .carousel-indicators .active {
    width: 8px;
    height: 8px
}

.nlist {
    margin: 0;
    padding: 0
}

.nlist li {
    padding: 7px 0;
    border-bottom: 1px solid #eee
}

.nlist li:last-child {
    border-bottom: 0
}

.nlist h4,
.nlist h5 {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 20px
}

.nlist h4 a,
.nlist h5 a {
    color: #383838
}

.nlist h4 a:hover,
.nlist h5 a:hover {
    color: #e74c3c;
    text-decoration: none
}

.nlist h5 {
    color: #F8BA3D
}

.nlist small {
    font-size: 11px;
    color: #95a5a6
}

.nlist p {
    padding-top: 7px
}

.ilist {
    margin: 0;
    padding: 0
}

.ilist li {
    padding: 7px 0;
    border-bottom: 1px solid #eee
}

.ilist li:last-child {
    border-bottom: 0
}

.ilist li strong {
    float: right;
    color: #1ABC9C
}

.inews h4,
.inews2 h4 a {
    color: #383838
}

.inews img {
    margin-bottom: 10px
}

.inews h4 {
    margin: 0;
    padding: 0;
    font-size: 14px
}

.inews2 h4 {
    margin: 0;
    padding: 0;
    font-size: 18px
}

.inews2 h4 a:hover {
    color: #e74c3c
}

.inews small {
    font-size: 11px;
    color: #95a5a6
}

.bnr .f16,
.bnr h3,
.tt {
    font-size: 16px
}

.bnr,
.bnr a {
    color: #fff
}

.inews p {
    padding-top: 7px
}

.tt {
    border-top: 1px solid #34495e;
    padding: 6px 0 10px;
    margin: 20px 0 0;
	font-weight:bold;
}

.tt .btn {
    float: right
}

.tt1 {
    border-top: 4px solid #1abc9c
}

.tt2 {
    border-top: 4px solid #2ecc71
}

.tt3 {
    border-top: 4px solid #3498db
}

.tt4 {
    border-top: 4px solid #9b59b6
}

.tt5 {
    border-top: 4px solid #f1c40f
}

.tt6 {
    border-top: 4px solid #e67e22
}

.tt7 {
    border-top: 4px solid #e74c3c
}

.tt1a {
    border-top: 1px solid #16a085
}

.tt2a {
    border-top: 1px solid #27ae60
}

.tt3a {
    border-top: 4px solid #34495e
}

.tt4a {
    border-top: 4px solid #8e44ad
}

.tt5a {
    border-top: 4px solid #f39c12
}

.tt6a {
    border-top: 4px solid #d35400
}

.tt7a {
    border-top: 4px solid #c0392b
}

.bnr {
    height: 90px;
    background-color: #34495e;
    margin-top: 20px
}

.bnr img {
    float: left;
    width: 70px;
    margin: 10px 20px
}

.bnr h3 {
    float: left;
    padding: 0;
    margin: 25px 0 0
}

.bnr .f16 {
    margin: 18px 0 0 -5px
}

.bnr .f18 {
    font-size: 18px;
    margin: 15px 0 0
}

.bnr .f20 {
    margin: 33px 0 0
}

.bnr1 {
    background-color: #1abc9c
}

.bnr2 {
    background-color: #2ecc71
}

.bnr3 {
    background-color: #3498db
}

.bnr4 {
    background-color: #9b59b6
}

.bnr5 {
    background-color: #f1c40f
}

.bnr6 {
    background-color: #e67e22
}

.bnr7 {
    background-color: #e74c3c
}

.bnrx {
    margin: 0 0 10px
}

.detail {
    font-size: 15px;
    line-height: 140%;
    padding-top: 7px;
    margin: 10px 0 20px
}

.detail h2 {
    margin: 0 0 20px;
    font-weight: 700
}

.detail h5 {
    color: #999;
    font-size: 12px
}

.detail dd {
    margin-bottom: 20px
}

.detail blockquote {
    font-size: 16px;
    line-height: 160%;
    font-style: italic
}

.detail .caption {
    background-color: #f5f5f5;
    display: block;
    font-size: 12px;
    margin: 0 0 20px;
    padding: 5px 10px
}

.col-md-9 .videopage .col-md-3 {
    min-height: 180px
}

.fotopage .thumbnail img,
.thumbnail img {
    min-height: 100px;
    margin: 0
}

.col-md-9 .videopage .col-md-3 h4 {
    font-size: 14px
}

.modal-dialog {
    width: 1000px
}

.album .thumbnail {
    margin: 0
}

.album h4 {
    font-size: 12px!important;
    padding-top: 10px
}

.gabung {
    background-color: #006099;
    color: #fff;
    padding: 20px
}

.gabung label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 20px
}

.gabung input[type=text] {
    background: #fff;
    border: 1px solid #cad3db;
    border-radius: 2px;
    font: 400 14px/30px 'Roboto', sans-serif;
    margin-bottom: 20px;
    min-height: 30px;
    padding: 0 10px;
    width: 150px
}

.gabung input[type=text]:focus {
    border: 1px solid #ffa07a;
    box-shadow: 1px 1px 4px #ffe4b5 inset;
    outline: 0
}

.gabung input[type=submit] {
    background-color: #ff720a;
    border: 0;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font: 700 14px/30px 'Roboto', sans-serif;
    padding: 0 10px;
    width: 150px
}

footer a:hover,
footer h3 {
    color: #1abc9c
}

.gabung input[type=submit]:hover {
    background-color: #f79623
}

footer {
    color: #fff;
    background-cover:url(../img/bg_foot.jpg) 0 center no-repeat;
	background:rgba(44,62,80,0.8) none repeat scroll 0 0;
    margin-top: 20px;
    padding: 20px 20px 0;
}
footer h3 {
    font-size: 18px;
    font-weight: 700
}

footer h4 {
    font-size: 17px;
    font-weight: 700;
    margin: 40px 0 0
}

footer small {
    font-size: 12px
}

footer .logo {
    float: left;
    margin: 20px 20px 20px 0
}

footer ul {
    padding: 0
}

footer a {
    color: #ecf0f1
}

footer .foot {
    background: #34495e;
    margin: 20px -20px 0
}

footer .foot p {
    font-size: 11px;
    line-height: 40px;
    margin: 0;
    color: #ecf0f1
}


.footer {
    color: #ecf0f1;
    line-height: 200%;
    margin-top: 20px;
	background:#111;
}

.footer .bg {
    min-height: 480px
}

.footer ul {
    list-style: none;
    padding: 0
}

.footer a {
    color: #ecf0f1
}

.footer a:hover {
    color: #2ecc71;
    text-decoration: none
}
.footer ul li{
	font-size: 12px;
}

.footer h3 {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    color: #ffba0f;
    padding: 15px 0 10px 0;
	font-style: italic;
	font-family: 'Cormorant Garamond', serif;
}
.ttku {
   
    font-weight: 700;
    font-size: 22px;
    color: #ffba0f;
	font-style: italic;
	font-family: 'Cormorant Garamond', serif;
}

.footer .social {
    font-size: 20px
}

.footer .social a {
    margin: 0 10px 0 0
}

.foot {
    background: #111;
	border-top: 1px dotted #ffba0f;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
	line-height: 22px;
    color: #ecf0f1;
	min-height: 152px
}

.foot a {
    color: #fff;
	font-size: 18px;
}

.foot a:hover {
    color: #fff;
    text-decoration: underline
}

.block_social_top {
    float: right;
    padding-top: 0
}

.block_social_top ul {
    float: left;
    margin: 0
}

.block_social_top ul li {
    font-size: 0;
    line-height: 0;
    float: left;
    list-style: none;
    position: relative
}

.block_social_top ul li+li {
    margin-left: 2px
}

.block_social_top ul li a {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    width: 19px;
    height: 19px;
    position: relative;
    background: url(../img/follow.png) no-repeat
}

.block_social_top ul li a:hover {
    opacity: .8;
    filter: alpha(opacity=80)
}

.block_social_top ul li span {
    background: #fff;
    position: absolute;
    top: -30px;
    display: none;
    font-size: 12px;
    line-height: 15px;
    padding: 5px;
    z-index: 999;
    left: -50%
}

.block_social_top .icons-label {
    float: left;
    margin-right: 8px;
    color: #a1a1a1;
    font-size: 11px;
    line-height: 12px;
    text-transform: uppercase;
    padding-top: 3px
}

.block_social_top ul li a.tw {
    background-position: 0 0
}

.block_social_top ul li a.fb {
    background-position: -19px 0
}

.block_social_top ul li a.gplus {
    background-position: -57px 0
}

.block_social_top ul li a.rss {
    background-position: -38px 0
}

.block_social_top ul li a.vim {
    background-position: -76px 0
}

.block_social_top ul li a.tmb {
    background-position: -95px 0
}

.block_social_top ul li a.pin {
    background-position: -114px 0
}

#news-list-detail {
    width: 694px;
    border-bottom: 1px solid #e9e9e9;
    clear: both;
    padding: 10px 5px;
    line-height: 18px
}

#news-list-detail img {
    width: 75px;
    float: left;
    margin: 7px
}

#news-list-detail h1 {
    font-size: 16px;
    margin: 0;
    padding: 0
}

#news-list-detail h1 a:hover {
    text-decoration: underline
}

#news-list-detail h4 {
    font-size: 11px;
    margin: 0;
    padding: 0;
    color: #f87401
}

#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
	background:#eee;
	
}
#myCarousel .nav a {
    border-radius:0px;
}
#myCarousel h3 a{
	font-size:22px;
}
.nav-pills>li > a{
	color:#111;
	font-weight:600;
	font-size:11px;
}
.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{color:#fff; background: #0575E6;
height:110px;  /* fallback for old browsers */
}


.ico .play {
  position: absolute;
  display: block;
  background: url(../img/play-btn.png);
  height: 100%;
  width: 100%;
  top: 18%;
  left: 40%;
  background-size: 30px 30px;
    background-repeat: no-repeat;
}
.ico2 .play {
  position: absolute;
  display: block;
  background: url(../img/camera.png);
  height: 100%;
  width: 100%;
  top: 18%;
  left: 40%;
  background-size: 50px 50px;
    background-repeat: no-repeat;
}
.ico3 .play {
  position: absolute;
  display: block;
  background: url(../img/camera.png);
  height: 100%;
  width: 100%;
  top: 20%;
  left: 40%;
  background-size: 50px 50px;
    background-repeat: no-repeat;
}
.ico4 .play {
  position: absolute;
  display: block;
  background: url(../img/camera.png);
  height: 100%;
  width: 100%;
  top: 10%;
  left: 35%;
  background-size: 50px 50px;
    background-repeat: no-repeat;
}

.ico5 .play {
  position: absolute;
  display: block;
  background: url(../img/camera.png);
  height: 100%;
  width: 100%;
  top: 15%;
  left: 35%;
  background-size: 50px 50px;
    background-repeat: no-repeat;
}


  /* carousel */
#quote-carousel 
{
  padding: 0 0px 30px 0px;
  margin-top: 0px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #34495e;
  height:20px;
  width:20px;
  list-style:square;
}
#quote-carousel .carousel-indicators .active 
{
  background: #1abc9c;
  height:20px;
  width:20px;
  list-style:square;
}
/* End carousel */

#quote-carousel .item {
    border-left: none;
    margin: 0;
    height:193px;
}
#quote-carousel .item small{
	font-size:9px;
}
#quote-carousel .item p{
	padding-bottom:10px;
	line-height:135%;
	text-align:left;
}

.quote {
    color: #e74c3c;
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}

.bubble{border-color:#dff0d8;background:#dff0d8;padding:15px 10px;
position:relative;font-style:italic;font-size:13px;line-height:160%;margin-bottom:15px;
    font-weight:bold;
}.bubble:after{content:"";position:absolute;top:100%;left:20px;border-top:10px solid black;border-top-color:inherit;border-left:10px solid transparent;border-right:10px solid transparent}.agenda .agenda-date{width:120px}.agenda .agenda-date .dayofmonth{width:30px;font-size:24px;line-height:30px;float:left;text-align:right;margin-right:10px}.agenda .agenda-date .shortdate{font-size:0.75em}.agenda .agenda-time{width:80px}.agenda .table{margin:0}.pop2{margin-bottom:-20px}.pop2 img{float:left;margin-right:20px}.pop2 ul{margin-bottom:0}.pop2 li:after{content:"";display:block;clear:both}.galeri{margin-bottom:0px}.galeri li img{margin-bottom:20px}.aduan{list-style:none;margin:0;padding:0}.aduan li{margin-bottom:30px}.aduan li:nth-child(even){text-align:right}.aduan li:nth-child(even) .bubble{border-color:#d9edf7;background:#d9edf7}.aduan li:nth-child(even) .bubble:after{right:20px;left:inherit}


.card-media-object{
	height: 375px;
  width: 100%;
 background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	}
	
	.links img {

    margin-bottom: 15px
}
.sambutan{
width:100%;
float:none;
border-left:1px solid #e9e9e9;
border-right:1px solid #e9e9e9;
border-bottom:1px solid #e9e9e9;
 border-top: 1px solid #27ae60;
padding:10px;
margin-top:10px;

}
.sambutan2{
width:100%;
float:none;
border-left:1px solid #e9e9e9;
border-right:1px solid #e9e9e9;
border-bottom:1px solid #e9e9e9;
 border-top: 1px solid #e9e9e9;
padding:10px;
margin-top:10px;

}
/* Using panels to display blog date */
.panel.date {
    margin: 0px;
    width: 60px;
    text-align: center;
}

.panel.date .month {
    padding: 5px 5px;
    font-weight: bold;
    text-transform: uppercase;
	font-style:italic;
	
}

.panel.date .day {
    padding: 5px 0px;
    font-size: 13px;
}
.counter {
    text-align: center;
	margin-top:5px;
    background: #eee;  /* fallback for old browsers */

    padding: 10px 0;
	border-left: 5px solid #1abc9c;
	border-right: 5px solid #1abc9c;
}
.counter h3{margin:0 0 15px 0;font:400 normal 18px "Proxima-Nova",sans-serif}
.counter #countdown{font:700 normal 36px "Proxima-Nova",sans-serif}
.counter #countdown span{margin:0 20px}
.counter #countdown span b{font:400 normal 20px "Proxima-Nova",sans-serif}
.counter-side h3{font:400 normal 14px "Proxima-Nova",sans-serif}
.counter-side #countdown{font:700 normal 20px "Proxima-Nova",sans-serif}
.counter-side #countdown span{margin:0 4px}
.counter-side #countdown span b{font:400 normal 14px "Proxima-Nova",sans-serif}
.counter h3{font-size:14px}
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}
.opini h5 a{
	font-weight:bold;
	color: #2c3e50;
}

#slider-text{
  padding-top: 0px;
  display: block;
}
#slider-text .col-md-6{
  overflow: hidden;
}

#slider-text h2 {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 3px;
	text-transform: uppercase;
  margin: 0px auto;
  padding-left: 0px;
}
#slider-text h2::after{
  border-top: 5px solid #1abc9c;
  content: "";
  position: absolute;
  bottom: 10px;
  width: 100%;
  }

#itemslider h4{
  font-size: 12px;
  margin: 10px auto 3px;
}
#itemslider h5{
  font-size: 12px;
  margin: 3px auto 2px;
}
#itemslider h6{
  font-size: 10px;
  margin: 2px auto 5px;
}
.badge {
  background: #b20c0c;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 31px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid #FFF;
  box-shadow: 0 0 0 1px #b20c0c;
  top: 5px;
  right: 25%;
}
#slider-control img{
  padding-top: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 992px){
#slider-control img {
  padding-top: 70px;
  margin: 0 auto;
}
}
.carousel-showmanymoveone {
	border-left:1px solid #eee;
}
.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 5px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3,
  .carousel-showmanymoveone .carousel-inner .cloneditem-4,
  .carousel-showmanymoveone .carousel-inner .cloneditem-5,
  .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(16.666%, 0, 0);
    transform: translate3d(16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-16.666%, 0, 0);
    transform: translate3d(-16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}




.section-nav { position: relative; border-top: 1px solid #e9e9e9; 
border-bottom: 3px solid #a2a9ae; margin: 0 auto; width: 100%;
margin-top: 5px;
margin-bottom: 10px;
border-left: 1px solid #e9e9e9;}
.mainHeaderMenu { position: relative; margin: 0; border-right: 1px solid #e9e9e9; background: #fff;}
.mainHeaderMenu > li { border-bottom: 3px solid #000; margin-bottom: -3px;
 list-style: none; float: left; position: relative;}

.mainHeaderMenu > li > a { position: relative; display: inline-block; font-size: 14px; font-weight: 700; line-height: 20px; text-transform: uppercase; text-decoration: none; color: #0b0b0b;    padding: 10px 12px 9px 11px; border-right: 1px solid #e9e9e9;}
.mainHeaderMenu > li > a:hover,
.mainHeaderMenu > li.sfHover > a,
.mainHeaderMenu > li.current-menu-item > a {background: #fafafa;}
.mainHeaderMenu > li.home {border: none; margin: 0;}
.mainHeaderMenu > li.home a:hover { background-color: #fafafa;}
.mainHeaderMenu > li.red  { border-color: #e50700;}
.mainHeaderMenu > li.blue  { border-color: #0084c5;}
.mainHeaderMenu > li.sky-blue{ border-color: #00c3b7;}
.mainHeaderMenu > li.purple { border-color: #121475;}
.mainHeaderMenu > li.green  { border-color: #6cac00;}
.mainHeaderMenu > li.orange { border-color: #ff8168;}
.mainHeaderMenu > li.gray  { border-color: #6b7278;}
.mainHeaderMenu > li.yellow { border-color: #ffba0f;}
.mainHeaderMenu > li ul { z-index: 1999; 
padding: 1px 0 1px; display: none; background: #fff; width: 177px; 
position: absolute; left: 0; top: 42px; margin:  0;
 -webkit-box-shadow: 0 0 4px 0px rgba(0,0,0,.2);
 -moz-box-shadow: 0 0 4px 0px rgba(0,0,0,.2);
 box-shadow: 0 0 4px 0px rgba(0,0,0,.2);}
.mainHeaderMenu > li ul li { list-style: none; font-size: 14px;
 line-height: 20px; position: relative;}
.mainHeaderMenu > li ul li a { padding: 7px 10px 6px; display: block; color: #545454; text-decoration: none;}
.mainHeaderMenu > li ul li + li a { border-top: 1px solid #f2f2f2;}
.mainHeaderMenu > li ul li a:hover {color: #e90505; background: #fcfcfc;}
.mainHeaderMenu > li ul li ul { left: 178px; top: 0;}



/* Clearing */
.clearboth:after { width: 100%; content: ""; display: block; clear: both;}
.clear { width: 100%; clear: both;}


#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}